.containerInputTextArea {
    margin: 10px 10px 10px 10px;
}
.inputTextArea {
    resize: none;
    border-radius: 13px;
    padding : 12px 12px 12px 12px;
    font-weight: bold;
    font-style: normal;
    overflow : auto;
    outline: 1.5px solid;
}

.inputTextArea:hover {
    outline: 1.5px solid rgb(86, 151, 235);
}